WORKERS=1
TIMEOUT=300
API_USERNAME=ubuntu
API_PASSWORD=debian
API_SECRET_KEY=09d25e094faa6ca2556c818166b7a9563b93f7099f6f0f4caa6cf63b88e8d3e7
API_ALGORITHM=HS256
API_ACCESS_TOKEN_EXPIRE_MINUTES=5256000
CB_CONN_STRING=couchbase://couchbase
CB_USERNAME=Administrator
CB_PASSWORD=password
CB_BUCKET=default
CB_SCOPE=agentc_data
CB_COLLECTION=candidates
CB_AGENDA_COLLECTION=timeslots
CB_INDEX=candidates_index
AGENT_CATALOG_BUCKET=agentc
AGENT_CATALOG_CONN_STRING=couchbase://couchbase
AGENT_CATALOG_USERNAME=Administrator
AGENT_CATALOG_PASSWORD=password
AGENT_CATALOG_LOGS_SCOPE=agent_activity
AGENT_CATALOG_LOGS_COLLECTION=logs
AGENT_CATALOG_GRADES_COLLECTION=grades
CAPELLA_API_ENDPOINT=https://your-endpoint.ai.cloud.couchbase.com
CAPELLA_API_LLM_KEY=your-llm-api-key
CAPELLA_API_LLM_MODEL=deepseek-ai/deepseek-r1-distill-llama-8b
CAPELLA_API_EMBEDDINGS_KEY=your-embeddings-api-key
CAPELLA_API_EMBEDDING_MODEL=nvidia/llama-3.2-nv-embedqa-1b-v2
OPENAI_API_KEY=sk-proj-XXX
AGENTMAIL_API_KEY=am_XXX
NGROK_AUTHTOKEN=XXX
WEBHOOK_DOMAIN=XXX.ngrok-free.app
INBOX_USERNAME=hrbot
VITE_API_BASE_URL=http://localhost:8000
APP_HOST=127.0.0.1
RESUME_DIR=resumes
TOKENIZERS_PARALLELISM=false
SKIP_INDEX_CREATION=true
# Only if you are using Capella
AGENT_CATALOG_CONN_ROOT_CERTIFICATE=/app/couchbase-root-cert.pem
CB_ORGANIZATION_ID=xxx
CB_PROJECT_ID=XXX
CB_CLUSTER_ID=XXX
CB_API_KEY=XXX